{% extends 'orders/partials/_base.html' %}
{% block title %}Orders{% endblock %}
{% block content %}
<h2>Orders</h2>
<a class="action-btn" href="{% url 'create_order' %}"><i class="fas fa-plus"></i> Create Order</a>
<ul>
    {% for order in orders %}
    <li>Order {{ order.order_id }} - {{ order.client.name }}
        <a href="{% url 'order_detail' order.pk %}">View</a>
        <a href="{% url 'update_order' order.pk %}">Edit</a>
        <a href="{% url 'delete_order' order.pk %}">Delete</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
